<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Screen capture queue</title>
         <script src="/jquery-1.8.2.min.js"></script>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <h1>Urls to download</h1>

    <table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Url</th>
        <th>Resolution</th>
        <th>Extension</th>
        <th>Proxy</th>
        <th>XPath</th>
        <th>Status</th>
        <th>Action</th>
    </tr>



[% FOR row IN rows %]
    <tr>
        <td>[% row.id %]</td>
        <td><a href="[% row.url %]">[% row.url %]</a></td>
        <td>[% row.size %]</td>
        <td>[% row.type %]</td>
        <td>[% row.proxy %]</td>
        <td>[% row.xpath %]</td>
        <td>
            [% IF row.status == 'done' %]
                <a href="view?id=[% row.id %]">[% row.status %]</a>
            [% ELSE %]
                [% row.status %]
            [% END %]
        </td>
        <td><a href="/delete?id=[% row.id %]">Delete</a></td>
    </tr>
[% END %]

    </table>

    <legend>Add an URL</legend>
    <form class="form-horizontal" action="/add">
    <div class="control-group">
        <div class="control-label">
            <label class="control-label" for="url">Url</label>
        </div>
        <div class="controls">
            <input class="input-xxlarge" type="text" id="url" name="url" value="[% url %]"/>
        </div>
    </div>


    <div class="control-group">
        <div class="control-label">
            <label class="control-label" for="size">Size</label>
        </div>
        <div class="controls">
            <input class="input-small" type="text" id="size" name="size" value="[% size %]"/>
            &nbsp;

            <label class="radio inline"><input type="radio" name="type" id="png" value="png" [% IF type == 'png' OR type == '' %]checked[% END %]/> PNG</label>
            &nbsp;

            <label class="radio inline"><input type="radio" name="type" id="pdf" value="pdf"[% IF type == 'pdf' %]checked[% END %]/> PDF</label>
        </div>
    </div>


    <div class="control-group">
        <div class="control-label">
            <label class="control-label" for="proxy">Proxy</label>
        </div>
        <div class="controls">
            <input  class="input-xlarge" type="text" id="proxy" name="proxy" value="[% proxy %]"/>
        </div>
    </div>


    <div class="control-group">
        <div class="control-label">
            <label class="control-label" for="xpath">XPath</label>
        </div>
        <div class="controls">
            <input class="input-xlarge" type="text" id="xpath" name="xpath" value="[% xpath %]" placeholder="Xpath expression"/>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <input class="btn btn-primary" type="submit" value="Add"/>
        </div>
    </div>
    </form>


    <script src="/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
