<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Screen capture queue</title>
         <script src="/jquery-1.8.2.min.js"></script>
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    <h1>Urls to download</h1>

    <table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Url</th>
        <th>Resolution</th>
        <th>Extension</th>
        <th>Proxy</th>
        <th>XPath</th>
        <th>Status</th>
        <th>Action</th>
    </tr>



[% FOR row IN rows %]
    <tr>
        <td>[% row.id %]</td>
        <td><a href="[% row.url %]">[% row.url %]</a></td>
        <td>[% row.size %]</td>
        <td>[% row.type %]</td>
        <td>[% row.proxy %]</td>
        <td>[% row.xpath %]</td>
        <td>
            [% IF row.status == 'done' %]
                <a href="view?id=[% row.id %]">[% row.status %]</a>
            [% ELSE %]
                [% row.status %]
            [% END %]
        </td>
        <td><a href="/delete?id=[% row.id %]">Delete</a></td>
    </tr>
[% END %]

    </table>

    <hr/>

    <form action="/add">
    <div class="row">
        <div class="span1">Url:</div>
        <div class="span11"><input type="text" name="url" value="[% url %]" size="80"/></div>
    </div>

    <div class="row">
        <div class="span1">Size:</div>
        <div class="span11"><input type="text" name="size" value="[% size %]" size="80"/></div>
    </div>

    <div class="row">
        <div class="span1">Type:</div>
        <div class="span1">
            <label class="radio"><input type="radio" name="type" id="png" value="png" [% IF type == 'png' OR type == '' %]checked[% END %]/> PNG</label>
        </div>

        <div class="span1">
            <label class="radio"><input type="radio" name="type" id="pdf" value="pdf"[% IF type == 'pdf' %]checked[% END %]/> PDF</label>
        </div>
    </div>

    <div class="row">
        <div class="span1">Proxy:</div>
        <div class="span11"><input type="text" name="proxy" value="[% proxy %]" size="80"/></div>
    </div>

    <div class="row">
        <div class="span1">XPath:</div>
        <div class="span11"><input type="text" name="xpath" value="[% xpath %]" size="80"/></div>
    </div>

    <div class="row">
        <div class="offset2 span10"><input type="submit" value="Add"/></div>
    </div>
    </form>


    <script src="bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
